<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2018 Korea Big7 - Google Cloud Platform Hackathon</title>
    <style>
        #content{
            text-align:center;
            margin:100px 0px 100px 0px;
        }
    </style>
</head>
<body>

<div>
    <div>
        <h1>Smart Stackoverflow...</h1>
        <hr>
    </div>

    <div id="content">
        <label>질문을 입력받아, 분석합니다. </label>
    <br/>
    <form action="/analsys" method="POST">
        <input id="" name="param_question" class="" value="Save biqquery response to google sheet using Python [duplicate]"/>
        <button type ="submit" id="">Analsys</button>
        <button id="" onclick="window.location.href='/rank'">Ranking</button>
    </form>


    </div>

    {% extends "b7ssof/footer.html" %}

</div>

</body>
</html>