<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2018 Korea Big7 - Google Cloud Platform Hackathon</title>
    <style>
        #content{
            text-align:left;
            margin:10px 0px 100px 0px;
        }
        br{margin-bottom:10px;}
    </style>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawLineChart);


      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Mushrooms', 3],
          ['Onions', 1],
          ['Olives', 1],
          ['Zucchini', 1],
          ['Pepperoni', 2]
        ]);

        // Set chart options
        var options = {'title':'How Much Pizza I Ate Last Night',
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }

      function drawLineChart() {

          var data = new google.visualization.DataTable();
          data.addColumn('number', 'Day');
          data.addColumn('number', 'Guardians of the Galaxy');
          data.addColumn('number', 'The Avengers');
          data.addColumn('number', 'Transformers: Age of Extinction');

          data.addRows([
            [1,  37.8, 80.8, 41.8],
            [2,  30.9, 69.5, 32.4],
            [3,  25.4,   57, 25.7],
            [4,  11.7, 18.8, 10.5],
            [5,  11.9, 17.6, 10.4],
            [6,   8.8, 13.6,  7.7],
            [7,   7.6, 12.3,  9.6],
            [8,  12.3, 29.2, 10.6],
            [9,  16.9, 42.9, 14.8],
            [10, 12.8, 30.9, 11.6],
            [11,  5.3,  7.9,  4.7],
            [12,  6.6,  8.4,  5.2],
            [13,  4.8,  6.3,  3.6],
            [14,  4.2,  6.2,  3.4]
          ]);

          var options = {
            chart: {
              title: 'Box Office Earnings in First Two Weeks of Opening',
              subtitle: 'in millions of dollars (USD)'
            },
            width: 900,
            height: 500
          };

          var chart = new google.charts.Line(document.getElementById('linechart_material'));

          chart.draw(data, google.charts.Line.convertOptions(options));
    }

    google.charts.load('current', {
        'packages':['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['Country', 'Popularity'],
          ['Germany', 200],
          ['United States', 300],
          ['Brazil', 400],
          ['Canada', 500],
          ['France', 600],
          ['RU', 700]
        ]);

        var options = {};

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }

      //https://support.google.com/datastudio/answer/7450249?hl=en

    </script>
</head>
<body>

<div>
    <div>
        <h1>Smart Stackoverflow...</h1>
        <button id="" onclick="window.location.href='/'">Question</button>
        <button id="" onclick="window.location.href='/analsys'">Analsys</button>
        <hr>

    </div>

    <div id="content">
        <label>질문이 많은 언어 순위 Top 10</label>
        <div>
            <div>
                <iframe width="600" height="450" src="https://datastudio.google.com/embed/reporting/1tpL3l1GbOpa39RxSn23cgIZ5-Aw4NLlf/page/ABzY" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div>
                <div id="linechart_material"></div>
            </div>
        </div>
        <br class="mb10"/>
        <label>빠른응답률의 질문 순위 Top10</label>
        <div>
            <table>
                <thead>
                    <tr>
                        <td>How do I test a private function or a class that has private</td>
                    </tr>
                    <tr>
                        <td>Catch multiple exceptions at once? … </td>
                    </tr>
                    <tr>
                        <td>When to use an interface instead of an abstract class and vice versa? … </td>
                    </tr>
                    <tr>
                        <td>What's the difference between a "script" and an "application"?</td>
                    </tr>

                </thead>
            </table>
        </div>

        <br class="mb10"/>
        <label>국가별 질문빈도</label>
        <div>
            <div id="regions_div" style="width: 900px; height: 500px;"></div>
        </div>
        <br class="mb10"/>
        <label>국가별 답변빈도</label>
        <div>

        </div>

    </div>

    {% extends "b7ssof/footer.html" %}

</div>

</body>
</html>